*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }  
::-webkit-scrollbar-thumb {
    background: #039387;
    rotate: 40deg;
    border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: #085b54;
}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #FFFFFF, #F0F4F8);

}

button, a {
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
}

/* section:nth-child(even) {
    width: 100%;
    background: linear-gradient(to bottom, #FFFFFF, #F0F4F8);
}

section:nth-child(odd) {
    width: 100%;

    background: linear-gradient(to bottom right, #F0F8FF, #FFFFFF);
} */
section {
    margin: 0px auto;
    width: 90%;
    max-width: 1170;
    padding: 30px 20px;
    padding-top: 50px;
    color: #212529;
}
.container{
    margin: 0px auto ;
    width: 1170px;
}

@media (min-width:768px){
    .container{
        width:750px ;
    }
    .heading{
        font-size:50px;
    }
    .heading + p{
        margin-top: -20;
    }
}
/* mediam */
@media (min-width:992px){
    .container{
        width:790px ;
    }
}

/* large */
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}

header{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    margin: 0px 10px ;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
}
header .nav-phone{
    display: none;
}

@media (max-width: 700px) {
    header nav{
        display: none;
    }
    header  *{
        animation: none !important;
    }
    header .nav-phone   {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    header .nav-phone a{
        all: initial;
        margin: 10px;
    }
    header .nav-phone i{
        font-size: 23px;
        color:#008f84;
    }
    header i:hover{
        color: #066d65;
    }
    
    
}
.head{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    
}

header h1{
    width: fit-content;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 30px;
    background-image: linear-gradient(45deg ,#0f837a ,#29e697);
    background-clip:text ;
    -webkit-text-fill-color:transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: show 2s  alternate  linear;
}
header .logo{
    width: 190px;
}
@keyframes show{ 
    from{
        width: 0px;
    }
    to{
        width: 190px;
    }
}

nav{
    display: flex;
    align-items: center;
}
header nav ul{
    all: initial;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.3s ease;
    position: relative;
}
nav a::before{
    content: "";
    background-color: #0f837a;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:width 0.4s ease;
}
nav a:hover{
    color: #005952;
}
nav a:hover:before{
    width: 100%;
}


.info{
    margin-top: 10px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 55px 40px  ;
}

.info .img{
    margin-top: 10px;
    animation: bord 1.2s forwards ease-in-out,trans ease-in-out infinite 2s 1s both;
    animation-play-state:running ;
    box-shadow: 5px 20px 30px 5px #7f7c7c ;
    overflow: hidden;
}
.info img{
    width: 400px;
    height: 400px;
    transition: 0.4s;
}

@media (max-width: 767px) {
    .container{
        width:450px ;
        margin: 0;
    }
    header h1 {
        font-size: 24px;
        text-align: center;
    }
    .info img {
        width: 350px;
        height: 350px;
    }
    .imag{
        margin-left:-50%;
    }
    .text h1 {
        font-size: 45px !important;
    }
    .text p{
        font-size: 17px !important;
        width: 90%;
    }
}

.info img:hover{
    transform: scale(1.4,1.4) translateY(55px);
}
.info .img:hover{
    animation-play-state:paused ;
}

@keyframes bord{
    from{
        border-radius:0;
    }
    to{
        border-radius: 65% 35% 69% 31% / 33% 68% 32% 67% ;
    }
}
@keyframes trans{
    0%,100%{
        transform: translateY(0)  ;
    }
    50%{
        transform: translateY(-10px) ;
    }
}
.text{
    margin: auto;
    display: block;
    text-transform: capitalize;
}
.text h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
}
.text p{
    font-size: 10px;
}

.gradient{
    display: inline-block;
    background-image: linear-gradient(45deg ,#0f837a ,#29e697);
    background-clip:text ;
    -webkit-text-fill-color: transparent ;
}
.job:before{
    content: attr(data-job2);
    overflow: hidden;
    display: inline-flex;
    width:0;
    animation: text  1.5s 0.6s alternate infinite linear ,chang linear 6s 0.6s infinite;
}
@keyframes text{
    from{
        width: 0px;
    }
    to{
        width:320px;

    }
}
@keyframes chang{
    from{
        content: attr(data-job1);

    }
    to{
        content: attr(data-job2);

    }
}
.linkes{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
.hero ul{
    display: flex;
    justify-content: space-between;
    width: 200px;
    list-style: none;
}
.hero ul i{
    display: inline-block;
    color: black;
    transition: 0.2s;
    animation: sh 0.5s linear forwards;
    font-size: 20px;
}
.linkes ul li:nth-child(2) i {
    animation-delay: 0.25s;
}
.linkes ul li:nth-child(3) i {
    animation-delay: 0.50s;
}
.linkes ul li:nth-child(4) i {
    animation-delay: 0.75s;
}
.hero ul i:hover{
    color: #0f837a;
    rotate: 360deg;
}

@keyframes sh{
    from{
        transform: translateY(50px) scale(0.5);
        opacity: 0;
    }
    to{
        transform: translateY(0px) scale(1.6);
        opacity: 1;
    }
    
}
h2{
    margin-bottom: 5;
}

.pop{
    animation: pop 1s ease-out;
}
@keyframes pop{
    from{
        scale: 0.2;
    }
    to{
        scale: 1;
    }
}





.anim{
    margin:100px auto ;
    text-align: center;
}
.anim h4{
    font-weight: bold;
    font-size: 20px;
    margin: 2;
    align-items: center;
}
.list i{
    transform: scale(2.2);
    padding: 10px;
    color:#343232;
}

.slider{
    overflow: hidden;
    margin: 0px auto;
    width: 700px;
    height: 50px;
    mask-image: linear-gradient(
        to right,transparent,rgb(0, 0, 0) 10% 90% ,transparent
    );   
}
.slider .list{
    display: flex;
    position: relative;
}
.slider .list .item{
    width: 100px;
    position: absolute;
    left: 100%;
    animation: autorun 10s infinite linear;
     animation-delay:calc(1s * (var(--posidtiom) - 1)) ;
}

@media (max-width: 768px) {
    .slider .list .item{
    animation: autorun 5s infinite linear;
    animation-delay:calc(0.5s * (var(--posidtiom) - 1)) ;
    }
    .slider{
        width: 350px;
    }


}
/* .list .item:nth-child(1){
    animation-delay: 1s;
}
.list .item:nth-child(2){
    animation-delay: 2s;
}
.list .item:nth-child(3){
    animation-delay: 3s;
}
.list .item:nth-child(4){
    animation-delay: 4s;
}
.list .item:nth-child(5){
    animation-delay: 5s;
}
.list .item:nth-child(6){
    animation-delay: 6s;
}
.list .item:nth-child(7){
    animation-delay: 7s;
}
.list .item:nth-child(8){
    animation-delay: 8s;
}
.list .item:nth-child(9){
    animation-delay: 9s;
}
.list .item:nth-child(10){
    animation-delay: 10s;
} */
@keyframes autorun{
    from{
        left: 100%;
    }
    to{
        left: -100px;
    }
}




.slider:hover .list .item{
    animation-play-state: paused;
}
.list .item:hover i{
    background-image: linear-gradient(45deg ,#0f837a ,#10fba9);
    background-clip:text ;
    -webkit-text-fill-color: transparent ;
}





.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder ;
    font-size: 20px;
    width: fit-content;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title p{
    margin-top: -10px;
    line-height: 1.5;
    font-weight: 100;
    color: #3e3d3d;
    text-align: justify;
    width: 80%;
}
.Recent-Work{
    padding: 10px 0 60px;
}
.project{
    width:100%;
    margin:50px auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imag{
    overflow: hidden;
    margin: auto;

}
.phone{
    position: absolute;
    top: 25%;
    rotate: 2deg;
    right: -30px;
}
.imag img{
    width: 390px;
    transition: 0.6s;
    object-fit: cover;
}


.phone img{
    width:170px;
    height: 170px;
    transition:0.6s ease-in-out;
}

.imag img:hover{
    transform: scale(1.3,1.3) translatey(20px);
}
.imag div img:hover+ .phone img{
    transform: translateX(90px);
}
.phone img:hover{
    transform: scale(1.5,1.5) translatey(0px) rotate(-2deg);
}

.imag{
    position: relative;
}


/* .imag::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    transform-origin:top  ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0); 
    transition: transform 0.5s;
}

.imag:hover::after {
    transform: translate(-50%, -50%) scaleY(1); 
} */

.slow{
    animation: slow 2s linear both;
    animation-timeline: view(80% 5%);

}
@keyframes slow{
    from{
        transform: translateY(30px) scale(0.8,0.8);
    }
    to{
        transform: translateY(0) scale(1,1);
    }
}

.se-more{
    all: initial;
    background-color: #489c84;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 0 0 5px black;
    border-radius:5px ;
    float: right;
    transition: 0.5s;    
    position: relative;
    margin-top: -100px;
    margin-right: 20px;
}
.se-more:before{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255,0.2);
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    transition: 0.5s;
    border-radius: inherit;
}

.se-more:hover::before{
    width: 100%;
}

.se-more:focus + .col,.click-me:active + .col{
    display: block;
}
.random{
    width: fit-content;
    margin: auto;
    transition: 1s;
}
.col{
    display: none;
    margin:100px auto 100px ;
}
.col div{
    margin: 0px auto;
    display: flex;
    width: fit-content;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1500px);
}
.itemes img{
    margin:10px 2px 10px 0px;
    width: 120px;
    height: 155px;
    box-shadow: 2px 20px 10px rgb(169, 162, 162);
}
.col div .itemes{
    transition: .5s;
    filter: brightness(0.2);
}
.col div .itemes:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}
.col div .itemes:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}
.col div .itemes:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(25deg);
}
.col div .itemes:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}
.col div .itemes:has(+ * + *:hover ){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-25deg);
}




.scolaire{
    
    width: clamp(400px,3vw,800px);
    margin: 50px auto 100px;
}
.scolaire h1{
    font-size: 30px;
    width: fit-content;
    margin: 60px auto;
}
.airplam{
    font-size: 40px;
    color: #069358;
    rotate: 90deg;
    position: absolute;
    z-index: 900;
    left: 50%;
    transform: translate(-25px , 21px);
    animation: fly 3s forwards;
    animation-timeline: view(0% 40%);
}
@keyframes fly{
    from{
        transform: translate(-25px , 21px);
    }
    to{
        transform: translate(430px , 21px);

    }
}
.parcoure{
    width: fit-content;
    position: relative;
    margin: 10px auto;
}
.parcoure::before{
    content: "";
    background-color: rgb(0, 0, 0);
    width: 5px;
    height: 105%;
    position: absolute;
    top: -2.5%;
    left: 50%;
}
@media (max-width: 768px) {
    .parcoure::before , .timeline-item::before,.airplam{
        display: none;
    }
    .parcoure .timeline-item{
        transform: translateX(0%) !important;   
    }


}

.parcoure .timeline-item{
    width: 400px;
    display: flex;
    align-items: center;
    padding: 10px;
    animation:  right;
    border-radius: 20px;
}
.timeline-item::before{
    content: "";
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}
.parcoure .timeline-item:nth-child(odd){
    transform: translateX(calc(50% + 30px));
    animation: right linear forwards;
    animation-timeline:view(90% 0%) ;
}
.timeline-item:nth-child(odd)::before{
    margin-left: -48px;
}
.parcoure .timeline-item:nth-child(even){
    transform: translateX(calc(-50% - 30px));
    display: flex;
    text-align: right;
    align-items: center;
    justify-content:flex-end;
    animation: left linear forwards;
    animation-timeline:view(90% 0%) ;
}
.timeline-item:nth-child(even)::before{
    margin-right: -52px;
}


.content h3 ,.content p{
    margin: 10px auto 0;
}
.parcoure .content{
    color: #35fc96;
    background-color: #1b1b1b;
    margin: 5px;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    line-height: 1;
}
.iconn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 0 10px;
    color: #14ff9d;
    background-color: black;
    border:2px solid #14ff9d ;
    border-radius: 50%;
}
.content p:last-of-type{
    font-size: 15px;
    color: #eee;
}



@keyframes right{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(calc(50% + 30px));
        opacity: 1;
    }
}
@keyframes left{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(calc(-50% - 30px));
        opacity: 1;
    }
}

